        * {
            margin:0;
            padding:0;
        }
        .el-input {
            float:left;
            width:100%;
            margin-top:5px;
        }  
        .shift-name-title {
            float:left;
            margin-top:5px;
        }
        .modal-body {
            font-size:12px;
            color:#606266;
        }
        #photo .uiModal--medium .modal-container {
            width: 70%;
        }
        .title-text {
             color: rgb(196, 196, 196)
        }
        .number-title {
            margin-left:60px;
        }
        .ant-radio-group-time {
            float:left;
            margin-left:15px;
            margin-right:40px;
        }
        .ant-radio-group-set-number{
            float:left;
            margin-top:5px;
            
        }
        .ant-radio-group-set {
            margin-top:10px;
        }
        .ant-radio-group-time>span {
            float:left;
            margin-top:5px;
        }
        .ant-radio-group-time .el-input {
            margin-left:5px;
            width:100px;
        }
        .el-time-panel {
            z-index:10000 !important;
        }
        .ant-radio-group-set {
            height:30px;
        }
        .rest {
            float:left;
            margin-top:5px;
        }
        .el-input--prefix .el-input__inner {
            padding-left: 22px;
            padding-right: 20px;
        }
        .el-input__prefix {
            left:0px;
        }
        .el-input__suffix {
            right:0px;
        }
        .el-input-number {
            top:10px;
        }
        .el-input-number:hover .el-input-number__decrease {
            display:block;
        }
        .el-input-number:hover .el-input-number__increase {
            display:block;
        }
        .el-input-number__decrease {
            height:13px;
            line-height:13px;
            width:20px;
            bottom:1px;
            top:auto;
            left:auto;
            right:1px;
            border:0;
            border-left:1px solid #C0C4CC;
            border-top:1px solid #C0C4CC;
            border-radius:0;
            display:none;
        }
        .el-input-number__increase {
            height:12px;
            line-height:12px;
            width:20px;
            top:1px;
            left:auto;
            right:1px;
            border:0;
            border-left:1px solid #C0C4CC;
            border-radius:0;
            display:none;

        }
        .el-input-number .el-input {
            width:50px;
            margin-left:0;
        }
        .el-input-number .el-input input{
            width:50px;
            padding:0;
            text-align:left;
            text-indent:5px;

        }
        .el-input-number {
            width:50px;
        }
        .class-manage-section-interval .title-text {
            margin-top:13px;
        }
        .class-manage-section-interval {
            margin-top:10px;
        }
        .late {
            margin-top:10px;
            float:left;
            width:50%;
            height:30px;
            margin-top:10px;
        }
        .late .el-input-number{
            margin-left:10px;
        }
        .late .el-input-number,.late .el-input input{
            width:70px;
        }
        .timesizechecked {
            margin-top:10px;
        }
        .timesizechecked-tr {
            height:40px;
            line-height:40px;
        }
        .table-coloer {
            background-color:#f6f6f6;
            padding-left:30px;
        }
        .timesizechecked-tr .ant-radio-group-time .el-input {
            margin-top:6px;
        }
        .timesizechecked-tr .ant-radio-group-set-number {
            margin:0;
        }
        .timesizechecked-tr .ant-radio-group-time > span {
            margin:0;
            
        }
        .timesizechecked-tr .ant-radio-group-time > span {
            float:left;
        }
        .size-time {
            float:left;
            margin-left:60px;
            height:40px;
        }
        .size-time .ant-radio-group-time {
            margin:0;
        }
        .size-time .el-input {
            margin-left:0;
        }
        .size-time .ant-radio-group-time > span {
            margin-left:5px;
            margin-right:5px;
        }
        .shift-head .el-input {
            margin-right:10px;
        }
       .shift-head .el-select,.shift-head .el-input{
            float:right;
        }
       .shift-body-foot .el-select,.shift-body-foot .el-input{
            float:right;
        }
       .shift-body-foot .el-input {
            margin-right:15px;
        }
        .shift-item {
            width:235px;
            margin-top:10px;
        }
        .shift-body-main {
            width:100%;
            padding:0rem 3rem;
            box-sizing:border-box;
        }
        .modal-body {
            padding:0;
            padding-bottom:40px;
        }
        .shift-body-titme {
            height:30px;
            background-color: rgb(243, 242, 242);
            line-height:30px;
            border-radius:4px;
            padding-left:15px;
            margin:1rem 2rem 0.5rem 2rem;
        }
        .late4 + div {
            float:left;
            width:100%;
        }
        .clear {
            clear:both;
        }
        .shift-item .el-checkbox{
            margin-top:5px;
        }
        .shift-item-cheekbox {
            float:left;
            margin-top:20px;
        }
        .shift-item-cheekbox .el-checkbox{
            margin-right:5px;
        }
        .el-popper {
            z-index:10000 !important;
        }
        #photo .el-select__input:focus{
            outline: none;
            border: 0;
            box-shadow: none;
        }
        .required {
            margin-top:3px;
        }
        .item-left {
            float:left;
            width:48%;
        }
        .item-right {
            float:right;
            width:48%;
        }
        .shift-item {
            width:100%;
        }
        .el-select {
            width:100%;
        }
        .el-date-editor.el-input {
            margin-top:5px;
            width:100%;
        }
        .el-textarea {
            margin-bottom:20px;
        }
        #photo .uiModal--medium .modal-container {
            width:100%;
            max-width:100%;
        }
        #photo .modal-container.slds-modal__container {
            padding-top:0;
            height:100%;
            border-radius:0;
            background-color:white;
            justify-content:flex-start;
        }
        .foot {
            background-color:white;
            text-align:center;
            padding:15px 0;
        }
        #photo .modal-header.slds-modal__header {
            /*border:0;
            padding:0;*/
        }
        .shift-body-main {
            width:40%;
            max-width:500px;
            margin-left:6%;
            display:inline-block;
            vertical-align: top;
        }
        .shift-body-main1 {
            width:100%;
            max-width:100%;
            margin-left:10%;
            margin: 0 auto;
            display: block;
            margin-top: 20px;
        }
        .el-select,.el-date-editor.el-input,.shift-body-main>div>.el-input,.el-textarea,.checkdiv {
            float:right;
            width:75%;
        }
        .shift-body-main > div {
            height:60px;
            line-height:50px;
            position:relative;
        }
        .el-color-dropdown.el-color-picker__panel {
            z-index: 9999 !important;
        }
        .el-color-picker {
            position:absolute;
            left:25%;
            top:15px;
        }
.el-checkbox__input {
    margin-top:8px;
}
.el-checkbox__inner {
    width:16px;
    height:16px;
}
.el-checkbox__input.is-checked .el-checkbox__inner::after {
    top:2px;
    left:5px;
}