.btn_CommonSeal
 {
     cursor: pointer;
     width: 30px;
     height: 30px;
}

.btn_CounterSeal {
     cursor: pointer;
     width: 30px;
     height: 30px;
     margin: 0px auto;
}

        .divCurLeft {
            clear: both;
            height: 40px;
            float: left;
            border: 0px;
            margin: 0px;
            padding: 0px;
        }

        .divCurRight {
            width: 148px;
            height: 40px;
            float: right;
            text-align: center;
            border: 0px;
            margin: 0px;
            padding: 0px;
            line-height: 40px;
        }

        .divHisLeft {
            overflow: hidden;
            word-wrap: break-word;
            white-space: pre-wrap;
            float: left;
        }

        .divHisLeft span {
                word-wrap: break-word;
                white-space: pre-wrap;
                font-size: 10.5pt;
                font-family: "Times New Roman", "serif";
        }

        .divHisRight {
            float: left;
            margin: 0px auto;
        }

        div.clearFloat {
            clear: both;
            height: 1px;
            margin-top: -1px;
            overflow: hidden;
        }

        .cur-txtedit {
            width: 99%;
            height: 99%;
        }

        .formedit-text {
            height: 25px;
            border: solid 1px #ccc;
        }
