<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="/template/css/meetingroom.css" rel="stylesheet" />
    <link href="/template/hearder/header.css" rel="stylesheet" />
    <style>
        .meetingroom-message-hover2 {
            margin-left:400px;
        }
        .calendar {
            display:none;
        }
    </style>
</head>
<body>
    <div class="calendar">
    <div class="calendarTop bumpForScrollBar">
        <div class="calendarUserTimezoneOffset">
            <strong class="rili_calender_strong">
                <span>时间</span>
            </strong>
        </div>
        <div class="calendarDayHeaders">
            <strong class="calenderDayHeader" time="2019-10-27">2号楼国际交流中心</strong>
            <strong class="calenderDayHeader" time="2019-10-28">3号楼阶梯教室</strong>
            <strong class="calenderDayHeader" time="2019-10-29">3号楼小教室</strong>
            <strong class="calenderDayHeader" time="2019-10-30">地下多功能厅</strong>
            <strong class="calenderDayHeader" time="2019-10-31">行政四楼北会议室</strong>
            <strong class="calenderDayHeader presentDay" time="2019-11-1">行政四楼南会议室</strong>
            <strong class="calenderDayHeader" time="2019-11-2">行政四楼南会议室</strong>
            <strong class="calenderDayHeader" time="2019-11-2">行政四楼南会议室</strong>
            <strong class="calenderDayHeader" time="2019-11-2">行政四楼南会议室</strong>
        </div>
        <div class="calendarTrough">
            <ul class="calendarTroughContainer week">
            </ul>
        </div>
    </div>
    <div class="calendarRow">
        <div class="calendarKey">
                <strong time="">
                </strong>
                <strong time="08:00">
                    <span>8:00</span>
                </strong>
                <strong time="09:00">
                    <span>9:00</span>
                </strong>
                <strong time="10:00">
                    <span>10:00</span>
                </strong>
                <strong time="11:00">
                    <span>11:00</span>
                </strong>
                <strong time="12:00">
                    <span>12:00</span>
                </strong>
                <strong time="13:00">
                    <span>13:00</span>
                </strong>
                <strong time="14:00">
                    <span>14:00</span>
                </strong>
                <strong time="15:00">
                    <span>15:00</span>
                </strong>
                <strong time="16:00">
                    <span>16:00</span>
                </strong>
                <strong time="17:00">
                    <span>17:00</span>
                </strong>
                <strong time="18:00">
                    <span>18:00</span>
                </strong>
                <strong time="19:00">
                    <span>19:00</span>
                </strong>
                <strong time="20:00">
                    <span>20:00</span>
                </strong>
                <strong time="21:00">
                    <span>21:00</span>
                </strong>
            </div>
        <div class="rowCore">
            <div class="scroll">
                <div class="calendarDay ">
                <div class="eventList"></div>
            </div>
            <div class="calendarDay" >
                <div class="eventList"></div>
            </div>
            <div class="calendarDay">
                <div class="eventList"></div>
            </div>
            <div class="calendarDay" >
                <div class="eventList"></div>
            </div>
            <div class="calendarDay">
                <div class="eventList"></div>
            </div>
            <div class="calendarDay checkedDay" >
                <div class="eventList"></div>
            </div>
            <div class="calendarDay">
                <div class="eventList"></div>
            </div>
                <div class="calendarDay">
                <div class="eventList"></div>
            </div>
                <div class="calendarDay">
                <div class="eventList"></div>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="meetingroom-message meetingroom-message1">
        <p>已被张丽萍预约</p>
        <p><span>8:00</span>-<span>9:00</span></p>
        <p>医院医务流程讨论</p>
    </div>
    <div class="meetingroom-message meetingroom-message2">
        <p>已被张丽萍预约</p>
        <p><span>8:00</span>-<span>9:00</span></p>
        <p>医院医务流程讨论</p>
    </div>
    <div class="meetingroom-message meetingroom-message3">
        <p>已被张丽萍预约</p>
        <p><span>8:00</span>-<span>9:00</span></p>
        <p>医院医务流程讨论</p>
    </div>
    <div class="meetingroom-message meetingroom-message4">
        <p>已被张丽萍预约</p>
        <p><span>8:00</span>-<span>9:00</span></p>
        <p>医院医务流程讨论</p>
    </div>

    <div class="meetingroom-message meetingroom-message1 widthitem2">
        <p>已被张丽萍预约</p>
        <p><span>8:00</span>-<span>9:00</span>
         <span>医院医务流程讨论</span>
        </p>
    </div>
    <div class="meetingroom-message meetingroom-message2 widthitem2">
        <p>已被张丽萍预约</p>
        <p><span>8:00</span>-<span>9:00</span>
            <span>医院医务流程讨论</span>
        </p>
    </div>
    <div class="meetingroom-message meetingroom-message3 widthitem2">
        <p>已被张丽萍预约</p>
        <p><span>8:00</span>-<span>9:00</span>
            <span>医院医务流程讨论</span>
        </p>
    </div>
    <div class="meetingroom-message meetingroom-message4 widthitem2">
        <p>已被张丽萍预约</p>
        <p><span>8:00</span>-<span>9:00</span>
            <span>医院医务流程讨论</span>
        </p>
    </div>
    <div class="meetingroom-message-hover meetingroom-message-hover1">
        <div class="close"></div>
        <div class="meetingroom-message-hover-point"></div>
        <div class="meetingroom-message-hover-title">
            <div class="header-left-logo">
                <img src="/template/hearder/logo.png"/>
            </div>
            <div class="header-left-title">
                <p class="header-left-title-name">医院医务流程讨论</p>
            </div>
        </div>
        <div class="meetingroom-message-hover-body">
            <div class="meetingroom-message-hover-body-message">
                <p>预约人</p>
                <p>李丽燕</p>
                <p></p>
                <p>开始</p>
                <p>2019-4-28 上午8:00</p>
            </div>
            <div class="meetingroom-message-hover-body-message">
                <p>会议室</p>
                <p>2号楼国际交流中心</p>
                <p></p>
                <p>结束</p>
                <p>2019-4-28 上午10:00</p>
            </div>
        </div>
        <div class="meetingroom-message-hover-foot">
            <div class="meetingroom-message-hover-left">
                更多详细信息
            </div>
            <div class="meetingroom-message-hover-foot-right">
                <div class="buttonbtn">编辑</div>
                <div class="buttonbtn">删除</div>
            </div>
        </div>
    </div>
    <div class="meetingroom-message-hover meetingroom-message-hover2">
        <div class="close"></div>
        <div class="meetingroom-message-hover-point"></div>
        <div class="meetingroom-message-hover-title">
            <div class="header-left-logo">
                <img src="/template/hearder/logo.png"/>
            </div>
            <div class="header-left-title">
                <p class="header-left-title-name">星期一，四月 29</p>
            </div>
        </div>
        <div class="meetingroom-message-hover-body">
        <div class="meetingroom-message meetingroom-message1 meetingroom-moremessage">
            <p>已被张丽萍预约
                <span>8:00</span>-<span>9:00</span>
                <span>医院医务流程讨论</span>
            </p>
        </div>
            <div class="meetingroom-message meetingroom-message2 meetingroom-moremessage">
            <p>已被张丽萍预约
                <span>8:00</span>-<span>9:00</span>
                <span>医院医务流程讨论</span>
            </p>
        </div>
            <div class="meetingroom-message meetingroom-message3 meetingroom-moremessage">
            <p>已被张丽萍预约
                <span>8:00</span>-<span>9:00</span>
                <span>医院医务流程讨论</span>
            </p>
        </div>
            <div class="meetingroom-message meetingroom-message4 meetingroom-moremessage">
            <p>已被张丽萍预约
                <span>8:00</span>-<span>9:00</span>
                <span>医院医务流程讨论</span>
            </p>
        </div>
            <div class="meetingroom-message meetingroom-message4 meetingroom-moremessage">
            <p>已被张丽萍预约
                <span>8:00</span>-<span>9:00</span>
                <span>医院医务流程讨论</span>
            </p>
        </div>
             <div class="meetingroom-message meetingroom-message4 meetingroom-moremessage">
            <p>已被张丽萍预约
                <span>8:00</span>-<span>9:00</span>
                <span>医院医务流程讨论</span>
            </p>
        </div>

        </div>
        <div class="meetingroom-message-hover-foot"></div>
    </div>
        <div class="calendar calendar2" style="margin-top:300px;">
    <div class="calendarTop bumpForScrollBar">
        <div class="calendarUserTimezoneOffset">
            <strong class="rili_calender_strong">
                <span>会议室</span>
            </strong>
        </div>
        <div class="calendarDayHeaders">
            <strong class="calenderDayHeader widthitem1" time="2019-10-27">
                <p>一</p>
                <p>1</p>
            </strong>
            <strong class="calenderDayHeader widthitem1" time="2019-10-27">
                <p>二</p>
                <p>2</p>
            </strong>
            <strong class="calenderDayHeader widthitem1" time="2019-10-27">
                <p>三</p>
                <p>3</p>
            </strong>
            <strong class="calenderDayHeader widthitem1" time="2019-10-27">
                <p>四</p>
                <p>4</p>
            </strong>
            <strong class="calenderDayHeader widthitem1" time="2019-10-27">
                <p>五</p>
                <p>5</p>
            </strong>
            <strong class="calenderDayHeader widthitem2 weekend" time="2019-10-27">
                <p>六</p>
                <p>6</p>
            </strong>
            <strong class="calenderDayHeader widthitem2 weekend" time="2019-10-27">
                <p>日</p>
                <p>7</p>
            </strong> 
            <strong class="calenderDayHeader widthitem2 " time="2019-10-27">
                <p>一</p>
                <p>8</p>
            </strong>
            <strong class="calenderDayHeader widthitem2 " time="2019-10-27">
                <p>一</p>
                <p>8</p>
            </strong>
            <strong class="calenderDayHeader widthitem2 " time="2019-10-27">
                <p>一</p>
                <p>8</p>
            </strong> 
            <strong class="calenderDayHeader widthitem2 " time="2019-10-27">
                <p>一</p>
                <p>8</p>
            </strong>
            <strong class="calenderDayHeader widthitem2 " time="2019-10-27">
                <p>一</p>
                <p>8</p>
            </strong>
        </div>
        <div class="calendarTrough">
            <ul class="calendarTroughContainer week">
            </ul>
        </div>
    </div>
    <div class="calendarRow">
        <div class="calendarKey">
                <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号楼国中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
                
            </div>
        <div class="rowCore">
            <div class="scroll">
                <div class="calendarDay ">
                <div class="eventList widthitem1"></div>
            </div>
            <div class="calendarDay" >
                <div class="eventList widthitem1"></div>
            </div>
                <div class="calendarDay" >
                <div class="eventList widthitem1"></div>
            </div>
                <div class="calendarDay" >
                <div class="eventList widthitem1"></div>
            </div>
                <div class="calendarDay" >
                <div class="eventList widthitem1"></div>
            </div>
            <div class="calendarDay">
                <div class="eventList widthitem2"></div>
            </div>
            <div class="calendarDay" >
                <div class="eventList widthitem2"></div>
            </div>
            <div class="calendarDay">
                <div class="eventList widthitem2"></div>
            </div>
            <div class="calendarDay checkedDay" >
                <div class="eventList widthitem2"></div>
            </div>
            <div class="calendarDay">
                <div class="eventList widthitem2"></div>
            </div>
                <div class="calendarDay">
                <div class="eventList widthitem2"></div>
            </div>
                <div class="calendarDay">
                <div class="eventList widthitem2"></div>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div style="margin-top:100px;" class="slds-brand-band-zhou">
 <div class="calendar calendar3">
    <div class="calendarTop bumpForScrollBar">
        <div class="calendarUserTimezoneOffset">
            <strong class="rili_calender_strong">
                <span>会议室</span>
            </strong>
        </div>
        <div class="calendarDayHeaders">
            <strong class="widthitem3 calenderDayHeader" time="2019-10-27">11/1(周天)</strong>
            <strong class="widthitem3 calenderDayHeader" time="2019-10-27">11/1(周天)</strong>
            <strong class="widthitem3 calenderDayHeader" time="2019-10-27">11/1(周天)</strong>
            <strong class="widthitem3 calenderDayHeader" time="2019-10-27">11/1(周天)</strong>
            <strong class="widthitem3 calenderDayHeader" time="2019-10-27">11/1(周天)</strong>
            <strong class="widthitem3 calenderDayHeader" time="2019-10-27">11/1(周天)</strong>
            <strong class="widthitem3 calenderDayHeader" time="2019-10-27">11/1(周天)</strong>
          </div>
        <div class="calendarTrough">
            <ul class="calendarTroughContainer week">
            </ul>
        </div>
    </div>
    <div class="calendarRow">
        <div class="calendarKey">
                <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号楼国中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
            <strong>
                    <span>2号楼国际交流中心</span>
                </strong>
                
            </div>
        <div class="rowCore">
                <div class="calendarDay ">
                <div class="eventList widthitem3"></div>
            </div>
            <div class="calendarDay" >
                <div class="eventList widthitem3"></div>
            </div>
                <div class="calendarDay" >
                <div class="eventList widthitem3"></div>
            </div>
                <div class="calendarDay" >
                <div class="eventList widthitem3"></div>
            </div>
                <div class="calendarDay" >
                <div class="eventList widthitem3"></div>
            </div>
            <div class="calendarDay">
                <div class="eventList widthitem3"></div>
            </div>
                <div class="calendarDay">
                <div class="eventList widthitem3"></div>
            </div>
        </div>
    </div>
    </div>
    <div class="calder-content">
    <div id="time-chook"></div>
    </div>
        </div>
    <script src="/js/jquery/1.7.1/jquery.min.js"></script>
    <script src="/js/laydate/laydate.js"></script>
    <script src="/template/js/meetingroom.js"></script>
    <script>
            
    </script>
</body>
</html>
