
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/mission-header.css">
    <link rel="stylesheet" href="/css/cal/mission.css">
    <link rel="stylesheet" href="/css/cntrt/cntrt.css">
    <link rel="stylesheet" href="/css/cal/newmission.css">
    <link rel="stylesheet" href="/css/form.css">
    <link href="/easyui/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="/easyui/themes/icon.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/template/css/alert.css">
    <style>
        .checkbox {
            min-width:0px !important;
        }
        #popup-newmission {
            display: block;
            left: 50%;
            top: 50%;
            margin-left: -500px;
            margin-top: -330px;
        }

        .popup-mask {
            display: block;
        }

        .form-element {
            margin-left: 115px;
            min-width: 300px !important;
            width: 300px !important;
        }

            .form-element > input {
                margin-top: -2px !important;
                line-height: 25px !important;
            }

        #newmission .missmessage-body .tree span {
            height: 18px;
            line-height: 18px;
            display: inline-block;
            float: none;
        }

        #newmission .missmessage-body .appends span {
            height: 18px;
            line-height: 18px;
            display: inline-block;
            float: none;
        }
    .popup-foot > button:hover {
    background-color: #f4f2f2;
    color: #108af9;
}
    .popup-foot > button {

    float: right;
    background-color: white;
    border: 1px solid #dcdcdc;
    color: #108af9;
    height: 32px;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 10px;
    padding: 0 10px;
}#popup-newmission{
    overflow:visible;
    }
    .form-checking{
        padding-left:115px;
        color:#ff6666;
        font-size:14px;
    line-height:30px;
    height:0;
    position:absolute;
    top:35px;
    }
    .activity{
        border:1px solid #ff6666 !important;
    }
    .boxshaw{
        top:-150px;
    }
    .form-error{
        width:90%;
        margin-left:5%;
        background: rgb(194, 57, 52);
        padding:15px;
        color:#fff;
        border-radius:4px;
        height:50px;
        box-sizing:border-box;
    }
    .form-error2{
    color:rgb(194, 57, 52);
    margin-left:65px;
    margin-top:10px;
    font-size:14px;
}
    .popup-mask {
            z-index:199;
        }
        .popup {
            z-index:200;
        }
        #newmission .pinput3 {
            width:50% !important;
        }
        #newmission .pinput2 {
            width:35% !important;
        }
        .divinput {
            width:auto;
        }
        .missmessage {
            height:auto !important;
            overflow:hidden;
        }
        .disstatus {
            border-color:rgb(194, 57, 52) !important;
        }
        .checkbox.active {
    background: url('/img/cal/checked.png') no-repeat center;
    background-color: white !important;
    border-radius: 2px !important;
    background-size: 14px;
}
        .Attachsitem{
            overflow:hidden;
        }
        .Attachsitem>div{
            height:50px;
        }
    </style>
</head>
<body>
    <div class="popup" id="popup-newmission">
        <div class="popup-exit"></div>
        <div class="popup-head">会议室预约</div>
        <div class="modal-header">
        </div>
        
        <form id="editPage" name="editPage">
            <input type="hidden" name="objTypeCode" id="objTypeCode" value="1010" />
            <div id="newmission">
                <div class="missmessage">
                    <div class="missmessage-head">
                        预约信息<span style="color:red">（如因工作冲突，请提前取消会议室预约）</span>
                    </div>
                    <div class="missmessage-body">
                        <div class="missmessage-bodyleft">
                            <div class="title">
                                <b>*</b>
                                <span class="spanact1">主题</span>
                                <p class="pinput1 save-checking-input">
                                    <input class="" type="text" required="required" style="width: 300px" id="Subject" />
                                </p>
                            </div>
                            <div class="title">
                            <b>*</b>
                            <span class="spanact1">预约人</span>
                            <div class="form-element save-checking-input">
                                <input class="" type="text" placeholder="搜索联系人" />
                                <input type="hidden" id="OwningUser" name="OwningUser" data-object="8" />
                                <div class="lookup">
                                    <ul></ul>
                                </div>
                                <img src="/img/images/02.1-1.Search_.png" />
                                <ul></ul>
                            </div>
                        </div>
                            <div class="title">
                            <b>*</b>
                            <span class="spanact1">联系电话</span>
                             <p class="pinput1 save-checking-input">
                                    <input type="text" style="width: 300px" id="TelePhone" />
                                </p>
                        </div>
                            <div class="title">
                            <b>*</b>
                            <span class="spanact1">部门审批人</span>
                            <div class="form-element save-checking-input">
                                <input class="" type="text" placeholder="搜索联系人" />
                                <input type="hidden" id="approveByBusinessUnit" name="approveByBusinessUnit" data-object="8" />
                                <div class="lookup">
                                    <ul></ul>
                                </div>
                                <img src="/img/images/02.1-1.Search_.png" />
                                <ul></ul>
                            </div>
                        </div>
                            <div id="Attachs">
                            <div class="title">
                                <b></b>
                                <span>会议室设备</span>
                            </div>
                                <div class="Attachsitem">
                                    <div class="checkbox"></div>
                                    <span class="checkbox-msg">电脑</span>
                                    <div class="checkbox"></div>
                                    <span class="checkbox-msg">投影</span>
                                    <div class="checkbox"></div>
                                    <span class="checkbox-msg">多媒体</span>
                                    <div class="checkbox"></div>
                                    <span class="checkbox-msg">视频同步</span>
                                </div>
                                </div>

                        </div>
                        <div class="missmessage-bodyright">
                            <div class="title">
                            <b>*</b>
                            <span class="spanact1">会议室</span>
                            <div class="form-element save-checking-input">
                                <input type="text" placeholder="搜索会议室" />
                                <input type="hidden" id="ResourceId" name="RoomId" data-object="20034" />
                                <div class="lookup">
                                    <ul></ul>
                                </div>
                                <img src="/img/images/02.1-1.Search_.png" />
                                <ul></ul>
                            </div>
                        </div> 
                            <div class="title">
                            <b>*</b>
                            <span class="spanact1 ">参加人数</span>
                            <p class="pinput1 save-checking-input">
                               <input class="" type="text" style="width: 300px" id="PeopleQty" />
                            </p>
                        </div>
                         <div class="time title">
                            <b>*</b>
                            <span>开始</span>
                        <div class="divinput">
                            <p class="starttime pinput3 save-checking-input" style="margin-left: 0px">
                            <span class="time-tishi">日期</span>

                                <input class="" type="text" placeholder="--开始日期--" id="laydate1">
                            </p>

                            <p style="width: 150px;margin-left: 8px" class="starttime2 pinput2">
                            <span class="time-tishi">时间</span>
                                <select id="StartTime" onchange="starttimechange(this.value)" type="text" style="width: 110px">
                                    <option value="00:00">00:00</option>
                                    <!--<option value="00:15">00:15</option>-->
                                    <option value="00:30">00:30</option>
                                    <!--<option value="00:45">00:45</option>-->
                                    <option value="01:00">01:00</option>
                                    <!--<option value="01:15">01:15</option>-->
                                    <option value="01:30">01:30</option>
                                    <!--<option value="01:45">01:45</option>-->
                                    <option value="02:00">02:00</option>
                                    <!--<option value="02:15">02:15</option>-->
                                    <option value="02:30">02:30</option>
                                    <!--<option value="02:45">02:45</option>-->
                                    <option value="03:00">03:00</option>
                                    <!--<option value="03:15">03:15</option>-->
                                    <option value="03:30">03:30</option>
                                    <!--<option value="03:45">03:45</option>-->
                                    <option value="04:00">04:00</option>
                                    <!--<option value="04:15">04:15</option>-->
                                    <option value="04:30">04:30</option>
                                    <!--<option value="04:45">04:45</option>-->
                                    <option value="05:00">05:00</option>
                                    <!--<option value="05:15">05:15</option>-->
                                    <option value="05:30">05:30</option>
                                    <!--<option value="05:45">05:45</option>-->
                                    <option value="06:00">06:00</option>
                                    <!--<option value="06:15">06:15</option>-->
                                    <option value="06:30">06:30</option>
                                    <!--<option value="06:45">06:45</option>-->
                                    <option value="07:00">07:00</option>
                                    <!--<option value="07:15">07:15</option>-->
                                    <option value="07:30">07:30</option>
                                    <!--<option value="07:45">07:45</option>-->
                                    <option value="08:00">08:00</option>
                                    <!--<option value="08:15">08:15</option>-->
                                    <option value="08:30">08:30</option>
                                    <!--<option value="08:45">08:45</option>-->
                                    <option value="09:00">09:00</option>
                                    <!--<option value="09:15">09:15</option>-->
                                    <option value="09:30">09:30</option>
                                    <!--<option value="09:45">09:45</option>-->
                                    <option value="10:00">10:00</option>
                                    <!--<option value="10:15">10:15</option>-->
                                    <option value="10:30">10:30</option>
                                    <!--<option value="10:45">10:45</option>-->
                                    <option value="11:00">11:00</option>
                                    <!--<option value="11:15">11:15</option>-->
                                    <option value="11:30">11:30</option>
                                    <!--<option value="11:45">11:45</option>-->
                                    <option value="12:00">12:00</option>
                                    <!--<option value="12:15">12:15</option>-->
                                    <option value="12:30">12:30</option>
                                    <!--<option value="12:45">12:45</option>-->
                                    <option value="13:00">13:00</option>
                                    <!--<option value="13:15">13:15</option>-->
                                    <option value="13:30">13:30</option>
                                    <!--<option value="13:45">13:45</option>-->
                                    <option value="14:00">14:00</option>
                                    <!--<option value="14:15">14:15</option>-->
                                    <option value="14:30">14:30</option>
                                    <!--<option value="14:45">14:45</option>-->
                                    <option value="15:00">15:00</option>
                                    <!--<option value="15:15">15:15</option>-->
                                    <option value="15:30">15:30</option>
                                    <!--<option value="15:45">15:45</option>-->
                                    <option value="16:00">16:00</option>
                                    <!--<option value="16:15">16:15</option>-->
                                    <option value="16:30">16:30</option>
                                    <!--<option value="16:45">16:45</option>-->
                                    <option value="17:00">17:00</option>
                                    <!--<option value="17:15">17:15</option>-->
                                    <option value="17:30">17:30</option>
                                    <!--<option value="17:45">17:45</option>-->
                                    <option value="18:00">18:00</option>
                                    <!--<option value="18:15">18:15</option>-->
                                    <option value="18:30">18:30</option>
                                    <!--<option value="18:45">18:45</option>-->
                                    <option value="19:00">19:00</option>
                                    <!--<option value="19:15">19:15</option>-->
                                    <option value="19:30">19:30</option>
                                   <!-- <option value="19:45">19:45</option>-->
                                    <option value="20:00">20:00</option>
                                    <!--<option value="20:15">20:15</option>-->
                                    <option value="20:30">20:30</option>
                                    <!--<option value="20:45">20:45</option>-->
                                    <option value="21:00">21:00</option>
                                    <!--<option value="21:15">21:15</option>-->
                                    <option value="21:30">21:30</option>
                                    <!--<option value="21:45">21:45</option>-->
                                    <option value="22:00">22:00</option>
                                   <!-- <option value="22:15">22:15</option>-->
                                    <option value="22:30">22:30</option>
                                   <!-- <option value="22:45">22:45</option>-->
                                    <option value="23:00">23:00</option>
                                   <!-- <option value="23:15">23:15</option>-->
                                    <option value="23:30">23:30</option>
                                    <!--<option value="23:45">23:45</option>-->
                                </select>
                            </p>
                        </div>
                        </div>
                            <div class="time title">
                            <b>*</b>
                            <span>结束</span>
                        <div class="divinput">
                            <p class="starttime pinput3 save-checking-input" style="margin-left: 0px" >
                            <span class="time-tishi">日期</span>

                                <input class="" type="text" placeholder="--结束日期--" id="laydate2">
                            </p>
                            <p style="width: 150px;margin-left: 8px" class="starttime2 pinput2">
                            <span class="time-tishi">时间</span>

                                <select id="endtime-time" type="text" style="width: 110px">
                                    <option value="00:00">00:00</option>
                                    <!--<option value="00:15">00:15</option>-->
                                    <option value="00:30">00:30</option>
                                    <!--<option value="00:45">00:45</option>-->
                                    <option value="01:00">01:00</option>
                                    <!--<option value="01:15">01:15</option>-->
                                    <option value="01:30">01:30</option>
                                    <!--<option value="01:45">01:45</option>-->
                                    <option value="02:00">02:00</option>
                                    <!--<option value="02:15">02:15</option>-->
                                    <option value="02:30">02:30</option>
                                    <!--<option value="02:45">02:45</option>-->
                                    <option value="03:00">03:00</option>
                                    <!--<option value="03:15">03:15</option>-->
                                    <option value="03:30">03:30</option>
                                    <!--<option value="03:45">03:45</option>-->
                                    <option value="04:00">04:00</option>
                                    <!--<option value="04:15">04:15</option>-->
                                    <option value="04:30">04:30</option>
                                    <!--<option value="04:45">04:45</option>-->
                                    <option value="05:00">05:00</option>
                                    <!--<option value="05:15">05:15</option>-->
                                    <option value="05:30">05:30</option>
                                    <!--<option value="05:45">05:45</option>-->
                                    <option value="06:00">06:00</option>
                                    <!--<option value="06:15">06:15</option>-->
                                    <option value="06:30">06:30</option>
                                    <!--<option value="06:45">06:45</option>-->
                                    <option value="07:00">07:00</option>
                                    <!--<option value="07:15">07:15</option>-->
                                    <option value="07:30">07:30</option>
                                    <!--<option value="07:45">07:45</option>-->
                                    <option value="08:00">08:00</option>
                                    <!--<option value="08:15">08:15</option>-->
                                    <option value="08:30">08:30</option>
                                    <!--<option value="08:45">08:45</option>-->
                                    <option value="09:00">09:00</option>
                                    <!--<option value="09:15">09:15</option>-->
                                    <option value="09:30">09:30</option>
                                    <!--<option value="09:45">09:45</option>-->
                                    <option value="10:00">10:00</option>
                                    <!--<option value="10:15">10:15</option>-->
                                    <option value="10:30">10:30</option>
                                    <!--<option value="10:45">10:45</option>-->
                                    <option value="11:00">11:00</option>
                                    <!--<option value="11:15">11:15</option>-->
                                    <option value="11:30">11:30</option>
                                    <!--<option value="11:45">11:45</option>-->
                                    <option value="12:00">12:00</option>
                                    <!--<option value="12:15">12:15</option>-->
                                    <option value="12:30">12:30</option>
                                    <!--<option value="12:45">12:45</option>-->
                                    <option value="13:00">13:00</option>
                                    <!--<option value="13:15">13:15</option>-->
                                    <option value="13:30">13:30</option>
                                    <!--<option value="13:45">13:45</option>-->
                                    <option value="14:00">14:00</option>
                                    <!--<option value="14:15">14:15</option>-->
                                    <option value="14:30">14:30</option>
                                    <!--<option value="14:45">14:45</option>-->
                                    <option value="15:00">15:00</option>
                                    <!--<option value="15:15">15:15</option>-->
                                    <option value="15:30">15:30</option>
                                    <!--<option value="15:45">15:45</option>-->
                                    <option value="16:00">16:00</option>
                                    <!--<option value="16:15">16:15</option>-->
                                    <option value="16:30">16:30</option>
                                    <!--<option value="16:45">16:45</option>-->
                                    <option value="17:00">17:00</option>
                                    <!--<option value="17:15">17:15</option>-->
                                    <option value="17:30">17:30</option>
                                    <!--<option value="17:45">17:45</option>-->
                                    <option value="18:00">18:00</option>
                                    <!--<option value="18:15">18:15</option>-->
                                    <option value="18:30">18:30</option>
                                    <!--<option value="18:45">18:45</option>-->
                                    <option value="19:00">19:00</option>
                                    <!--<option value="19:15">19:15</option>-->
                                    <option value="19:30">19:30</option>
                                   <!-- <option value="19:45">19:45</option>-->
                                    <option value="20:00">20:00</option>
                                    <!--<option value="20:15">20:15</option>-->
                                    <option value="20:30">20:30</option>
                                    <!--<option value="20:45">20:45</option>-->
                                    <option value="21:00">21:00</option>
                                    <!--<option value="21:15">21:15</option>-->
                                    <option value="21:30">21:30</option>
                                    <!--<option value="21:45">21:45</option>-->
                                    <option value="22:00">22:00</option>
                                   <!-- <option value="22:15">22:15</option>-->
                                    <option value="22:30">22:30</option>
                                   <!-- <option value="22:45">22:45</option>-->
                                    <option value="23:00">23:00</option>
                                   <!-- <option value="23:15">23:15</option>-->
                                    <option value="23:30">23:30</option>
                                    <!--<option value="23:45">23:45</option>-->
                                </select>
                            </p>
                        </div>
                        </div>
                            
                        </div>

                    </div>

                </div>
                
                <div class="markmessage">
                    <div class="missmessage-head">
                        备注信息
                    </div>
                    <div class="liuyan">备注</div>
                    <div class="textarea-div">
                        <textarea cols="140" rows="5" id="Remark" name="Remark"></textarea>
                    </div>
                </div>

                <div class="othermessage">
                    <div class="missmessage-head">
                        其他信息
                    </div>
                    <div class="missmessage-body">
                        <div class="title">
                                <b></b>
                                <span>通知</span>
                            <div class="checkbox active" id="notifySms"></div>
                            <span class="checkbox-msg">短信管理员通知</span>    
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="popup-foot">
            <button class="popup-foot-shur save-checking">保存</button>           
            <button class="close">取消</button>
        </div>
    </div>
    <div class="popup-mask"></div>
    <script type="text/javascript" src="/js/jquery/1.7.1/jquery.min.js"></script>
    <script src="/js/mission-header.js"></script>
    <script type="text/javascript" src="/js/CommonUtils.js"></script>
    <script src="/js/schedule.js"></script>
    <script type="text/javascript" src="/easyui/js/GridEasy.js"></script>
    <script type="text/javascript" src="/js/formcontrol.js"></script>
    <script src="/js/laydate/laydate.js"></script>

    <script>
        var msgid = getQueryString('msgid')
        getdetial()
        function getdetial() {
            var d = {
                ObjTypeCode: 20035
            }
            function callback(data) {
                if (data.context.picklistValuesMap.Attachs) {
                    var Attachs = data.context.picklistValuesMap.Attachs
                    $('#Attachs .Attachsitem').find('div').remove()
                    $('#Attachs .Attachsitem').find('span').remove()
                    for (var i = 0; i < Attachs.length; i++) {
                        $('#Attachs .Attachsitem').append('<div style="clear:both;"><div class="checkbox"></div><span class="checkbox-msg">' + Attachs[i].label + '</span><div class="attachscontent" style="float:left"><span style="float:left">数量</span><input style="width:50px;border:1px solid #dedede;margin-left:5px;" type="number" value="1" /></div></div>')
                    }
                    $('.checkbox').click(function () {
                        $(this).toggleClass('active')
                        if ($(this).hasClass('active')) {
                            if (Attachs == '') {
                                Attachs = $(this).next().html()
                                //alert(Attachs)
                            } else {
                                Attachs = $(this).next().html()
                                if (Attachs == "多媒体")
                                {
                                    //alert(123);
                                }
                            }
                        }
                    })
                }

            }
            ajaxMethodGetAsyncData('entity.detail.get', d, false, callback)
        }
        $('.popup-foot-shur').click(function(){
            var that =  this
            var Subject = $('#Subject').val()
            var OwningUser = $('#OwningUser').parent().children('ul').find('li').attr('id')
            var ResourceId = $('#ResourceId').parent().children('ul').find('li').attr('id')
            var ScheduledStart = $('#laydate1').val()+' '+$('.starttime2.pinput2 select').eq(0).val()
            var ScheduledEnd = $('#laydate2').val()+' '+$('.starttime2.pinput2 select').eq(1).val()
            var nowDate = new Date();
            var choseDate = new Date(ScheduledStart);
            if (nowDate > choseDate) {
                alert("您只能预约当前时间之后的时间！");
                return;
            }
            if (new Date(ScheduledStart) >= new Date(ScheduledEnd)) {
                alert("开始时间不能大于或等于结束时间");
                return;
            }

            var Description = $('#Remark').val()
            var Attachs = ''
            var AttachsAmount = ''
            $('#Attachs').find('.checkbox').each(function(){
                if($(this).hasClass('active')){
                    if(Attachs == ''){
                        Attachs = $(this).next().html()
                        AttachsAmount = $(this).parent().find('input').val()
                    }else{
                        Attachs = Attachs + ',' + $(this).next().html()
                        AttachsAmount = AttachsAmount+','+$(this).parent().find('input').val()

                    }
                }
            })
            var approveByBusinessUnit = $('#approveByBusinessUnit').parent().children('ul').find('li').attr('id')
            var TelePhone = $('#TelePhone').val()
            var PeopleQty = $('#PeopleQty').val()
            if ($('#notifySms').hasClass('active')) {
                var notifySms = true
            } else {
                var notifySms = false
            }
            var d= {
                Subject:Subject,
                OwningUser:OwningUser,
                ResourceId:	ResourceId,
                ScheduledStart:	ScheduledStart,
                ScheduledEnd:ScheduledEnd,
                Description:Description,
                Attachs: Attachs,
                AttachsAmount:AttachsAmount,
                TelePhone:TelePhone,
                ObjTypeCode:20035,
                PeopleQty: PeopleQty,
                notifySms: notifySms,
                approveByBusinessUnit: approveByBusinessUnit
            }
            if(msgid){
                d.Id = msgid
            }
            function callback(data){
                
                if (data.status != 1) {
                    alert(data.msg);
                } else {
                    parent.$('#iframe').hide()
                    parent.$('#changeDiv').hide()
                    parent.getdata()
                    parent.success2('保存成功')
                }
                //parent.window.location.reload()
                
            }
            setTimeout(function () {
                if ($(that).hasClass('active')) {
                    ajaxMethodPostData('meetingroom.peoplenumber.check', {
                        meetingRoomId: ResourceId,
                        joinNumber: PeopleQty
                    }, function (data) {
                        if (data.status == 1) {
                            ajaxMethodPostData('meetingroom.reservation.edit', d, callback)
                        } else {
                            alert(data.msg);
                        }
                    })

                }
            }, 500)
        })
        $(".form-tree").each(function () {
            $(this).click(function () {
                $(this).find(".element-tree").show()
            })
        })

        
        $(".popup-exit").click(function () {
            parent.$('#iframe').hide()
        })
        $(".close").off()
        $(".close").click(function () {
            parent.$('#iframe').hide()
            parent.$('#changeDiv').hide()
        })
        $(".currentDate").each(function () {
            $(this).click(function () {
                $(this).parents(".title").attr("status", "status")
            })
        })
        laydate.render({
            elem: '#laydate1',
        })
        laydate.render({
            elem: '#laydate2',
        })
        var time = getQueryString('time')
        var day = getQueryString('day')
        var roomid = getQueryString('roomid')
        var roomname = getQueryString('roomname')
        if (time) {
            $('.starttime2.pinput2 select').eq(0).val(time)
            var endtime = parseInt(time.split(':')[0]) + 1
            if (endtime < 10) {
                endtime = '0' + endtime
            }
            endtime += ':00'
            $('.starttime2.pinput2 select').eq(1).val(endtime)
        }
        if (day) {
            $('#laydate1').val(day)
            $('#laydate2').val(day)
        }
        if (!time) {
            var myDate = new Date();
            var h = myDate.getHours();
            var eh = h+1
            if(h<10){
                h = '0'+h
            }
            if(eh<10){
                eh = '0'+eh
            }
            $('.starttime2.pinput2 select').eq(1).val(h+1+':00')

            $('.starttime2.pinput2 select').eq(0).val(h + ':00')
        }
        if (roomid) {
            $('.form-element').eq(2).addClass('active')
            $('.form-element').eq(2).find('input').hide()
            $('.form-element').eq(2).find('img').attr('src','/img/images/Close.png')
            $('.form-element').eq(2).find('input').val(roomid)
                                  
            $('.form-element').eq(2).children('ul').append('<li id="'+roomid+'">'+roomname+'</li>')
        }
        if(msgid){
            var d = {
                Id:msgid,
                ObjTypeCode:20035
            }
            function callback(data){
               
                var res = data.record
                var Subject = res.Subject
                var ResourceId = res.ResourceId.Id
                var Resourcename = res.ResourceId.Name
                var OwningUser = res.OwningUser.Id
                var OwningUsername = res.OwningUser.Name
                var PeopleQty = res.PeopleQty
                var Description = res.Description
                var Attachs = res.Attachs
                var ScheduledEnd = res.ScheduledEnd
                var ed = ''
                var sd = ''
                var et = ''
                var st = ''
                if(ScheduledEnd.indexOf('/')){
                    ed = ScheduledEnd.split(' ')[0].split('/').join('-')
                }else if(ScheduledEnd.indexOf('-')){
                    ed = ScheduledEnd.split(' ')[0]
                }
                var ScheduledStart = res.ScheduledStart
                if(ScheduledStart.indexOf('/')){
                    sd = ScheduledStart.split(' ')[0].split('/').join('-')
                }else if(ScheduledStart.indexOf('-')){
                    sd = ScheduledStart.split(' ')[0]
                }
                et = ScheduledEnd.split(' ')[1]
                st = ScheduledStart.split(' ')[1]
                $('#laydate1').val(sd)
                $('#laydate2').val(ed)
                if(et.length>5){
                    et = et.substring(0,et.length-3)
                }
                if(et.length == 4){
                    et = '0'+et
                }
                if(st.length>5){
                    st = st.substring(0,st.length-3)
                }
                if(st.length == 4){
                    st = '0'+st
                }

                if (Attachs != '') {
                    Attachs = Attachs.split(',')
                    for (var i = 0; i < $('.Attachsitem .checkbox-msg').length; i++) {
                        for (var j = 0; j < Attachs.length; j++) {
                            if (Attachs[j] == $('.Attachsitem .checkbox-msg').eq(i).html()) {
                                $('.Attachsitem .checkbox').eq(i).addClass('active')
                            }
    
                        }
                    }
                }

                $('.starttime2.pinput2 select').eq(0).val(st)
                $('.starttime2.pinput2 select').eq(1).val(et)
                var TelePhone = res.TelePhone
                $('#Subject').val(Subject)
                $('#PeopleQty').val(PeopleQty)
                $('#TelePhone').val(TelePhone)
                $('#Remark').val(Description)
                if(ResourceId!=''){
                    $('.form-element').eq(2).addClass('active')
                    $('.form-element').eq(2).find('input').hide()
                    $('.form-element').eq(2).find('input').val(ResourceId)
                    $('.form-element').eq(2).find('img').attr('src','/img/images/Close.png')
                    $('.form-element').eq(2).children('ul').append('<li id='+ResourceId+'>'+Resourcename+'</li>')
                }
                var approveByBusinessUnit = res.ApproveByBusinessUnit.Id
                var approveByBusinessUnitname = res.ApproveByBusinessUnit.Name
                if (approveByBusinessUnit != '') {
                    $('.form-element').eq(1).addClass('active')
                    $('.form-element').eq(1).find('input').hide()
                    $('.form-element').eq(1).find('input').val(approveByBusinessUnit)
                    $('.form-element').eq(1).find('img').attr('src', '/img/images/Close.png')
                    $('.form-element').eq(1).children('ul').append('<li id=' + approveByBusinessUnit + '>' + approveByBusinessUnitname + '</li>')
                }
                if(OwningUser!=''){
                    $('.form-element').eq(0).addClass('active')
                    $('.form-element').eq(0).find('input').hide()
                    $('.form-element').eq(0).find('input').val(ResourceId)
                    $('.form-element').eq(0).find('img').attr('src', '/img/images/Close.png')
                    $('.form-element').eq(0).children('ul').append('<li id="'+OwningUser+'">'+OwningUsername+'</li>')
                }
                if(OwningUser==''){
                    var OwningUser = parent.$('#iframe').attr('OwningUser')
                    var OwningUsername = parent.$('#iframe').attr('OwningUsername')
                    $('.form-element').eq(0).addClass('active')
                    $('.form-element').eq(0).find('input').hide()
                    $('.form-element').eq(0).find('input').val(OwningUser)

                    $('.form-element').eq(0).find('img').attr('src', '/img/images/Close.png')
                    $('.form-element').eq(0).children('ul').append('<li id="'+OwningUser+'">'+OwningUsername+'</li>')
                }
                var attachscontent = data.record.AttachsAmount.split(',')
                for (var i = 0; i < attachscontent.length; i++) {
                    $('.Attachsitem .checkbox.active').each(function (index) {
                            $(this).parent().find('.attachscontent input').val(attachscontent[index])
                    })
                }
            }
            ajaxMethodPostData('entity.detail.get',d,callback)
        
        }
        if(!msgid){
            var OwningUser = parent.$('#iframe').attr('contextuserid')
            var OwningUsername = parent.$('#iframe').attr('contextname')
            $('.form-element').eq(0).addClass('active')
            $('.form-element').eq(0).find('input').hide()
            $('.form-element').eq(0).find('input').val(OwningUser)

            $('.form-element').eq(0).find('img').attr('src', '/img/images/Close.png')
            $('.form-element').eq(0).children('ul').append('<li id="'+OwningUser+'">'+OwningUsername+'</li>')
        }
       
        function starttimechange(time) {
            var nowDate = new Date();
            var choseDate = $("#laydate1").val() + " " + time
            choseDate = new Date(choseDate);
            if (nowDate > choseDate) {
                alert("您只能预约当前时间之后的时间！");
                return;
            }
            var h = Number(time.split(':')[0]) + 1
            if (h < 10) {
                h = '0' + h
            }
            var m = time.split(':')[1]
            ntime = h + ':' + m
            $('#endtime-time').val(ntime)
        }
        getroomtime()
        function getroomtime() {
            var id = $('#ResourceId').next().next().next().find('li').attr('id')
            console.log(id)
            ajaxMethodGetData('meetingroom.serviceabletime.get', { resourceId:id}, function (data) {
                if (data.status == 1) {
                    var serviceableStartTime = data.serviceableStartTime.split(':').join('')
                    var serviceableEndTime = data.serviceableEndTime.split(':').join('')
                    $('#StartTime option').each(function () {
                        if ($(this).attr('value').split(':').join('') < serviceableStartTime || $(this).attr('value').split(':').join('') > serviceableEndTime) {
                            $(this).remove()
                        }
                    })
                    $('#endtime-time option').each(function () {
                        if ($(this).attr('value').split(':').join('') < serviceableStartTime || $(this).attr('value').split(':').join('') > serviceableEndTime) {
                            $(this).remove()
                        }
                    })
                }
            })

        }
        $(".form-element").off()
        $(".form-element").each(function () {
            var that = this;
            $("li").click(function () {
                return false;
            });
            $("ul").click(function () {
                return false;
            });
            $(this).find("img").click(function () {
                $(this).parents(".form-element").parent().attr("status", "");
                $(that).find("input[type=text]").show();
                $(that).find("input[type=text]").prop("value", "");
                $(this).prop("src", "/img/images/02.1-1.Search_.png");
                $(that).removeClass("active");
                $(this).next().find("li").remove();
                return false;
            });
            $(this).click(function () {
                $(".form-element").removeClass("element-active");
                $(".lookup").hide();
                $(this).addClass("element-active");
                $(this).find(".lookup").show();

                function callback(data) {
                    $(that).find(".lookup li").remove();
                    console.log(data);

                    for (var i = 0; i < data.listData.length; i++) {
                        var datas = data.listData[i];
                        var id = datas.ID;
                        var name = datas.Name;
                        $(that).find(".lookup ul").append('<li id="' + id + '">' + name + '</li>');
                    }

                    $(that).find(".lookup li").each(function () {
                        $(this).click(function () {
                            var id = $(this).attr("id");
                            $(this).parents(".form-element").parent().attr("status", "status");
                            $(that).find("input[type=text]").val(id);
                            $(that).find("input[type=text]").hide();
                            $(that).addClass("active");
                            $(that).find("ul").append($(this));
                            $(that).find(".lookup").hide();
                            $(that).find("img").prop("src", "/img/images/Close.png");
                            getroomtime()
                            $(that).find("img").click(function () {
                                $(this).parents(".form-element").parent().attr("status", "");
                                $(that).find("input[type=text]").show();
                                $(that).find("input[type=text]").val("");
                                $(this).prop("src", "/img/images/02.1-1.Search_.png");
                                $(that).removeClass("active");
                                $(this).next().find("li").remove();
                                return false;
                            });
                            return false;
                        });
                    });
                }

                var Lktp = $(this).find("input[type=hidden]").attr("data-object");
                var lksrch;
                var d = {
                    Lktp: Lktp
                };
                $(that).find("input[type=text]").off()
                $(that).find("input[type=text]").keyup(function () {
                    lksrch = $(this).val();
                    d = {
                        Lktp: Lktp,
                        lksrch: lksrch
                    };
                    ajaxMethodGetData("ui.entity.lookup", d, callback);
                });
                ajaxMethodGetData("ui.entity.lookup", d, callback);
                $(document).click(function (e) {
                    if ($(e.target).parents(".form-element").length == 0) {
                        $(that).removeClass("element-active");
                        $(".lookup").hide();
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>
