/*
 * This code is for Internal Salesforce use only, and subject to change without notice.
 * Customers shouldn't reference this file in any web pages.
 */
.zen .zen-assistiveText{position:absolute !important;height:1px;width:1px;overflow:hidden;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}.zen .zen-assistiveLink{padding:0 !important;margin:0 !important;height:1px !important;width:1px !important;line-height:0 !important;background-color:transparent !important;overflow:visible !important;text-decoration:none;color:#222}