@font-face {
  font-family: "iconfont"; /* Project id 3424035 */
  src: url('//at.alicdn.com/t/font_3424035_4aarshww1qx.woff2?t=1653880583791') format('woff2'),
       url('//at.alicdn.com/t/font_3424035_4aarshww1qx.woff?t=1653880583791') format('woff'),
       url('//at.alicdn.com/t/font_3424035_4aarshww1qx.ttf?t=1653880583791') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shang:before {
  content: "\e768";
}

.icon-zhongzhi:before {
  content: "\e767";
}

.icon-shangxiazhankai:before {
  content: "\e766";
}

.icon-rili:before {
  content: "\e763";
}

.icon-sousuo:before {
  content: "\e762";
}

.icon-zhanshou:before {
  content: "\e761";
}

.icon-caise:before {
  content: "\e760";
}

.icon-mingliang:before {
  content: "\e75f";
}

.icon-guanbi:before {
  content: "\e75e";
}

.icon-baobiaofenxi:before {
  content: "\e75d";
}

.icon-zhengwenmoban:before {
  content: "\e75c";
}

.icon-shenpiyijian:before {
  content: "\e75b";
}

.icon-caogaoxiang:before {
  content: "\e759";
}

.icon-shoudaochuanyue:before {
  content: "\e758";
}

.icon-chuanyue:before {
  content: "\e757";
}

.icon-tuijian:before {
  content: "\e756";
}

.icon-faqi:before {
  content: "\e755";
}

.icon-yiban:before {
  content: "\e754";
}

.icon-daiban1:before {
  content: "\e753";
}

.icon-xinjian:before {
  content: "\e751";
}

.icon-yiwancheng:before {
  content: "\e750";
}

.icon-morentouxiang:before {
  content: "\e74f";
}

.icon-tuichudenglu:before {
  content: "\e74d";
}

.icon-zhutizhongxin:before {
  content: "\e74c";
}

.icon-xiugaimima:before {
  content: "\e74b";
}

.icon-gerenzhongxin:before {
  content: "\e74a";
}

.icon-yonghu:before {
  content: "\e749";
}

.icon-shezhi:before {
  content: "\e747";
}

.icon-tongzhi:before {
  content: "\e746";
}

.icon-menhu:before {
  content: "\e745";
}

.icon-xiala:before {
  content: "\e743";
}

.icon-richangbangong:before {
  content: "\e742";
}

.icon-jichushezhi:before {
  content: "\e740";
}

.icon-yidongguanli:before {
  content: "\e73f";
}

.icon-jixiaokaoping:before {
  content: "\e73e";
}

.icon-renshiguanli:before {
  content: "\e73d";
}

.icon-cheliangguanli:before {
  content: "\e73c";
}

.icon-baoxiaoguanli:before {
  content: "\e73b";
}

.icon-xiangmuguanli:before {
  content: "\e739";
}

.icon-hetongguanli:before {
  content: "\e738";
}

.icon-paibanguanli:before {
  content: "\e737";
}

.icon-kaoqinguanli:before {
  content: "\e736";
}

.icon-wenjuantiaocha:before {
  content: "\e734";
}

.icon-yuangongpaiban1:before {
  content: "\e731";
}

.icon-huiyiguanli:before {
  content: "\e72f";
}

.icon-gongwenguanli:before {
  content: "\e72b";
}

.icon-zhishineirong:before {
  content: "\e72a";
}

.icon-liuchengguanli:before {
  content: "\e729";
}
