<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/themes/lightning/iconfont.css" />
    <link href="/element/element.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/themes/lightning/alerts.css" />
    <link href="/template/css/alert.css" rel="stylesheet" />
    <style>
        .shift-body-main {
            padding-bottom:20px;
        }
    </style>
</head>
<body>
    <div id="photo" class="photo1">
        <div class="DESKTOP uiContainerManager" id="vueapp">
            <div class="DESKTOP uiModal--medium uiModal forceModal open active" style="z-index: 1;">
                <div class="modal-glass slds-backdrop fadein slds-backdrop--open" style="opacity: 1;"></div>
                <div class="panel slds-modal slds-fade-in-open">
                    <div class="modal-container slds-modal__container">
                        <div class="modal-header slds-modal__header">
                            <h2 class="title slds-text-heading--medium">更改附件分类</h2>
                            <button class="slds-button slds-modal__close closeIcon slds-button_icon-bare slds-button_icon-inverse" type="button" title="关闭此窗口" id="closeds">
                                <span>
                                    <span style="font-size: 34px;">×</span>
                                </span>
                                <span class="slds-assistive-text">关闭此窗口</span>
                            </button>
                        </div>
                        <div class="modal-body scrollable slds-modal__content slds-p-around--medium">
                            <div class="shift-body-titme"><span>基本信息</span></div>
                            <div class="shift-body-main">
                               <div class="shift-item">
                                   <div class="item-left">
                                        <span class="required">*</span>
                                        <span class="shift-name-title">分类名称</span>
                                        <el-select class='save-checking-input'v-model="list.category" placeholder="请选择">
                                                <el-option
                                                  v-for="item in select.category"
                                                  :key="item.Name"
                                                  :label="item.Name"
                                                  :value="item.Name">
                                                </el-option>
                                             </el-select>
                                   </div>
                                   <div class="clear"></div>
                               </div>
                                
                               </div>
                            

                        </div>
                        <div class="modal-footer slds-modal__footer">
                            <div data-aura-rendered-by="9549:0" class="forceModalActionContainer--footerAction forceModalActionContainer">
                                <button class="slds-button slds-button--neutral uiButton forceActionButton" type="button" title="取消" id="closedsa">
                                    <span class=" label bBody">取消</span>
                                </button>
                                <!--<button class="save slds-button slds-button--neutral uiButton forceActionButton" type="button" title="取消" id="Button1">
                                    <span class=" label bBody">保存并继续</span>
                                </button>-->
                                <button id="Save" class="save-checking slds-button slds-button--neutral uiButton--default uiButton--brand uiButton forceActionButton" title="附加文件 （新窗口）" type="button">
                                    <span class=" label bBody">保存</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
    <script src="/js/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/CommonUtils.js"></script>
    <script type="text/javascript" src="/element/vue.js"></script>
    <script type="text/javascript" src="/element/element.js"></script>
    <script type="text/javascript" src="/element/vue-resource.js"></script>

    <script>
        var vum = new Vue({
            el: '#vueapp',
            data: {
                list: {
                    id: '',
                    category: ''
                },
                select: {
                    category:[]
                },
                search: {
                }
            },
            created: function () {
                this.getData()
            },
            methods: {
                getData: function () {
                    var that = this
                    var ObjectTypeCode = getQueryString('ObjectTypeCode')
                    var d = {
                        ObjectTypeCode: ObjectTypeCode
                    }
                    ajaxMethodPostData('attachment.category.getlist', d, function (data) {
                        console.log(data)
                        that.select.category = data.returnValue.records
                    })
                }
            }
        })
    </script>
    <script src="/js/alert.js"></script>
    <script>
        $('#Save').click(function () {
            function callback(data) {
                console.log(data)
                parent.success('更改附件分类成功')
                parent.$('#changeDiv').hide()
                parent.entityAttachmentList.load()
            }
            var d = vum.list
            var id = getQueryString('id')
            var message = {}
            if (id != null) {
                message.id = id
                message.category = vum.list.category
            }
            var save = document.querySelectorAll('.save-checking.active');
            if (save.length > 0) {
                ajaxMethodPostData('attachment.category.edit', message, callback)
            }
        })
    </script>
</body>
</html>
