<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="/template/css/header2.css" rel="stylesheet" />
    <link href="/template/css/indexStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="miss-header">
        <div class="header-left-logo">
            <img src="logo.png"/>
        </div>
        <div class="header-left-title">
            <p class="header-left-title-name">会议室预约</p>
            <p class="header-left-title-time">2019年4月29日 星期一</p>
        </div>
        <div class="header-right-buttonbtn">
            <div class="buttonbtn-group">
                <div class="prev-buttonbtn"></div>
                <div class="next-buttonbtn"></div>
            </div>
            <div class="buttonbtn tody">
                <div>今天</div>
            </div>
            <div class="buttonbtn shuaxin ">
                
            </div>
            <div class="buttonbtn calander selectbuttonbtn">
                <div class="selectlist">
                    <ul>
                        <li>日</li>
                        <li>星期</li>
                        <li>月</li>
                        <li>列表</li>
                    </ul>
                </div>
            </div>
            <div class="buttonbtn-group">
                <div class="buttonbtn">新建</div>
                <div class="buttonbtn">导出</div>
            </div>
            <div class="buttonbtn">
                <div>会议室管理</div>
            </div>
            <div class="buttonbtn">
                <div>车辆管理</div>
            </div>
            <div class="buttonbtn sort">
                <div></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
   

    <script src="/js/jquery/1.7.1/jquery.min.js"></script>
    <script src="/template/js/indexjs.js"></script>
    <script src="/js/CommonUtils.js"></script>
</body>
</html>
